/* General page settings */
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0c110d;
    color: #333;
}

/* Sidebar styling */
.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    text-align: left;
}

.sidebar a:hover {
    background-color: #3fb0d0;
}

/* Main content styling */
.main-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 200px);
    text-align: center;
}
